<div class="card">
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Item.Name))
        {
            <h5 class="card-title"><a href="@($"/conferences/{Item.Id}")"> @Item.Name</a></h5>
            <p class="card-text">
                <i class="bi bi-calendar"></i>
                @if (Item.EventStart != Item.EventEnd)
                {
                    <time datetime="@(Item.EventStart.ToString("yyyy-MM-dd"))" aria-label="Conference date">@Item.EventStart</time>
                    <text>-</text>
                    <time datetime="@(Item.EventEnd.ToString("yyyy-MM-dd"))" aria-label="Conference end date">@Item.EventEnd</time>
                    <br />
                }
                else
                {
                    <time datetime="@(Item.EventStart.ToString("yyyy-MM-dd"))" aria-label="Conference start date">@Item.EventStart</time>

                    <br />
                }
                @if (ShowCFP)
                {
                    <i class="bi bi-clock"></i>
                    <span aria-label="Conference  CFP closes in">@Item.CfpEndDate.ToClosingIn()</span><br/>
                }
                <i class="bi bi-geo-alt"></i>
                <span aria-label="Conference location">@Item.GetLocation()</span><br />
            </p>
        }
        else
        {
            <div class="load-wrapper" style="height:246px;">
                <div class="activity"></div>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public required Conference Item { get; set; }
    [Parameter]
    public bool ShowCFP { get; set; } = true;
  
}
