@page "/Profile/MyEvents"
@inject NavigationManager navigation
@inject INextTechEventApi _api

<h3>My events</h3>

<ul class="list-group">
    <h1 class="text-center my-4">Conference List</h1>
    <Virtualize Items="conferences" Context="c">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3"><strong>Date:</strong> @c.EventStart</div>
                    <div class="col-md-4"><strong>Name:</strong> @c.ConferenceName</div>
                </div>
            </li>
         

        @*<tr>
            <td class="date p-2">
                @c.EventStart
            </td>
            <td class="conferencename">
                <a href="@($"Conferences/{c.ConferenceId}")">@c.ConferenceName</a>
            </td>
            <td>
                @c.State
            </td>
        </tr>*@
    </Virtualize>
    </ul>

@code {
    List<ConferenceUserStatus> conferences = new List<ConferenceUserStatus>();
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(authenticationStateTask);
        var authState = await authenticationStateTask;
        var user = authState.User;
        var id = user?.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        conferences = await _api.GetConferencesByUserIdAsync(id);
        await base.OnInitializedAsync();
    }


}


    
